# Environnement virtuel
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Système
.DS_Store
**/.DS_Store

# IDE
.vscode/
.idea/

# Models
components/models/segmentation/detr-resnet-50-panoptic

# Données générées